.calculator{
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns:repeat(4,25%) ;
    grid-auto-rows: 1fr 48px 48px 48px 48px 48px;
}